# Python
__pycache__/
*.pyc
dbt-env/
venv/
.env

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Data files
*.csv
*.parquet
*.json
data/

# AWS
.aws/

# OS
.DS_Store

# Logs
*.log
logs/
ingestion/failed_uploads.logapi/.env
api/.env
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/airflow.cfg
airflow/simple_auth_manager_passwords.json.generated
airflow/logs/
